@import url('./reset.css');

.slide {
  display: flex;
  transform: translate3d(0px, 0px, 0px) ;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0px 20px;
  opacity: .8;
  transform: scale(.8);
  transition: .5s;
  border-radius: 4px;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}